*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root{
    font-size: 62.5%; /* 1rem = 10px */

    --var--Primarycolor--Soft--red:hsl(7, 99%, 70%);
    --var--Primarycolor--yellow: hsl(51, 100%, 49%);
    --var--Primarycolor--Dark-Desaturated-Cyan:hsl(7, 99%, 70%);
    --var--Primarycolor--Dark-blue:hsl(198, 62%, 26%);
    --var--Primarycolor-Dark-Moderate-Cyan:hsl(168, 34%, 41%);
    --var--Neutralcolor-Very-Dark-Sesaturated-Blue:hsl(212, 27%, 19%);
    --var--Neutralcolor-Very-Dark-Grayish-Blue:hsl(213, 9%, 39%);
    --var--Neutralcolor-Dark-Grayish-Blue:hsl(232, 10%, 55%);
    --var--Neutralcolor-Grayish-Blue:hsl(210, 4%, 67%);
    --var--Neutralcolor-White:hsl(0, 0%, 100%);

    /* Fontes:
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;*/
}

/*=====================BODY====================*/
body{
    width: 100%;
    height: 100vh;
}

body .wrapper{
        margin: auto;
        width: min(100%,37.5rem);
   
    
}

/*=====================WRAPER====================*/


/*=====================HEADER====================*/ 
#header{
    background-image:url(../images/desktop/image-header.jpg);
    background-position: bottom;
    background-size: cover;
}
#header .wrapper .navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

.wrapper .navigation .logo{
   width: 5rem;
   margin-block: auto;
   margin-left: 0.5rem;
  
}

.navigation .links a{
width: 5rem;
margin-left: 1rem;
text-decoration: none;
color: var(--var--Neutralcolor-Very-Dark-Grayish-Blue);
font-weight: 600;
}

.navigation .links a:hover{
    color: var(--var--Neutralcolor-Very-Dark-Sesaturated-Blue);
    transition: all 0.5s ease;
}


.wrapper .container-apresentation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 9.5rem;
}

.wrapper .apresentation h1{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
    color:var(--var--Neutralcolor-White);
    margin-bottom: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: bold;
}

.container-apresentation .arrow .arrow-down{
    width: 2rem;
}

/*=====================PRINCIPAL====================*/ 
#principal .principal-content{
    width: 100%;
    height: 100%;
}


#principal .principal-content .content-img{
   display: block;
   margin: auto;
   width: min(25rem,100%);
}

.principal-content .text-content{
    width: min(80%);
    margin: auto;
    padding-bottom: 1.5rem;
}


.principal-content .text-content h3{
    font-size: 2.1rem;
    margin-top: 3.5rem;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    color: var(--var--Neutralcolor-Very-Dark-Sesaturated-Blue);
    text-align: center;
}   

.principal-content .text-content p{
    opacity: 0.7;
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: 'Barlow', sans-serif;
    color: var(--var--Neutralcolor-Very-Dark-Grayish-Blue);
    text-align: center;
} 

.principal-content .text-content a{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    color: var(--var--Neutralcolor-Very-Dark-Sesaturated-Blue);
    text-transform: uppercase;
    margin-bottom: 3rem;

}

.principal-content .img-back-graphic{
    background-image: url("/images/mobile/image-graphic-design.jpg");
    background-position:top;
    background-size: cover;
    height: 39rem;
    width: min(25rem,100%);
    margin: auto;
    
 

}

.principal-content .img-back-graphic .text-content{
  padding-top: 23rem;
  width: min(87%);
}

.img-back-graphic .text-content h3{
    font-size: 1.6rem;
    font-weight: bold;
}

.img-back-graphic .text-content p{
    opacity: 1;
    font-size: 1rem;
    color:var(--var--Neutralcolor-Very-Dark-Sesaturated-Blue)
}


.principal-content .img-back-photography{
    background-image: url("/images/mobile/image-photography.jpg");
    background-position:top;
    background-size: cover;
    height: 39rem;
    width: min(25rem,100%);
    margin: auto;
}


.principal-content .img-back-photography .text-content{
    padding-top: 23rem;
    width: min(87%);
 
  }

.img-back-photography .text-content h3{
    font-size: 1.6rem;
    font-weight: bold;
}


.img-back-photography .text-content p{
  opacity: 1;
  font-size: 1rem;
  color:var(--var--Neutralcolor-Very-Dark-Sesaturated-Blue)

}

/*=====================CLIENT-TESTIMONIALS====================*/ 

#client-testimonials{
    width: 100%;
}

#client-testimonials .clients{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
}

#client-testimonials .clients .client-feedback{
    width: min(84%);
}

#client-testimonials .clients h3{
    opacity: 0.7;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    color:var(--var--Neutralcolor-Very-Dark-Grayish-Blue);
    font-family: 'Fraunces', serif;
    font-weight: bold;
}

.clients .client-feedback .client-image{
    display: block;
    margin: auto;
    width: 4rem;
    border-radius: 20rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.clients .client-feedback p{
    opacity: 1;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: 'Barlow', sans-serif;
    color: var(--var--Neutralcolor-Very-Dark-Grayish-Blue);
    text-align: center;
}

.clients .client-feedback h5{
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 2rem;
}


.clients .client-feedback h6{
    opacity: 0.5;
    font-size: 0.8rem;
    font-family: 'Barlow', sans-serif;
    color: var(--var--Neutralcolor-Very-Dark-Grayish-Blue);
    text-align: center;
    margin-top: 1rem;
}


/*=====================TEMPLATE-FOOTER====================*/ 
#template-footer{
    margin-top: 5rem;
    width: 100%;
 
  
}

#template-footer .tamplate-image{
    display: flex;
    flex-wrap: wrap;
}

#template-footer .tamplate-image #image-footer{
    display: block;
    width: 50%;
    height: 12rem;
    background-position: center;
    background-size: cover;
    background-color: black;
}


#template-footer .image-footer-01{ 
   background-image: url("/images/mobile/image-gallery-milkbottles.jpg"); 
}

#template-footer .image-footer-02{
    background-image: url("/images/mobile/image-gallery-orange.jpg"); 
}

#template-footer .image-footer-03{
    background-image: url("/images/mobile/image-gallery-cone.jpg");   
}

#template-footer .image-footer-04{
    background-image: url("/images/mobile/image-gallery-sugar-cubes.jpg");   
}

/*=====================FOOTER====================*/ 
#footer{
    width: 100%;
}

#footer .wrapper div{
    background-color: rgb(144, 212, 197);}

#footer .wrapper h1{
    color:rgb(46, 117, 101);
    font-size: 2.2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#footer .wrapper .footer-links{
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
}

.wrapper .footer-links a{
   opacity: 0.7;
   text-decoration: none;
   color: var(--var--Neutralcolor-Very-Dark-Sesaturated-Blue);
   font-family: 'Barlow', sans-serif;

}

.footer-links a li{
    list-style: none;
 }


#footer .wrapper .footer-links-social{
    display: flex;
    justify-content: space-between;
    padding-inline: 7rem;
    padding-block: 3rem;
    
}


.wrapper .footer-links-social img{
    width: 1rem;
}



/*=====================MEDIA====================*/ 

@media screen and (max-width: 1366px){
    .wrapper{
        margin: auto;
        width: min(90%,136rem);
    }
}

@media screen and (max-width: 768px){
    .wrapper{
        margin: auto;
        width: min(90%,76rem);
    }

    /*=====================NAVIGATION====================*/ 

    .wrapper .navigation .logo{
    height: 1rem;
    }

 
}

@media screen and (max-width: 360px){
    .wrapper{
        margin: auto;
        width: min(90%,36rem);
    }
    
    /*=====================NAVIGATION====================*/ 
    .hamburger-menu {
        cursor: pointer;
      }


    .wrapper .navigation .links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 21rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--var--Neutralcolor-White);
        text-align: center;
        padding: 2rem;
        height: 15.5rem;
       
    } 

    .navigation .links a{
        margin: auto;
        width: 7.5rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

       
    .navigation .links a:hover{
        background-color: var(--var--Primarycolor--yellow);
        border-radius: 20rem;
    }

    

}